{% set imagePath = question_template_attribute.svg_image_url  %}
    <div class="svg-selection-wrapper">
        <object type="image/svg+xml" data="{{ imagePath }}" class="svg-selection-image" id="{{name}}svg"/>
    </div>
